/******************** TAG SELECTORS ********************/
a {
  color: #e0dede;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

body {
  background-color: #fff;
  text-align: center;
  font-family: verdana, sans-serif;
  margin: 56px 0 0;
  padding: 5% 0 0;
}

i {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
}

p {
  color: #222;
  line-height: 2;
}

/******************** HEADER ********************/

.header {
  background-color: #343a40;
  color: #e0dede;
  padding: 16px;
  text-align: left;
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  margin: 0 200px;
}

.logo {
  font-size: 125%;
  color: #fff;
  margin: 0 16px 0 0;
}

.menu {
  display: inline;

}

ul.menu {
  padding: 0;
}

.menu a {
  padding: 8px;
  color: rgba(255, 255, 255, .5);
}

.menu a:hover {
  color: #fff;
}

.menu a:active {
  text-decoration: underline;
}

.menu .current_menu {
  color: #ccc;
  text-decoration: underline;
}

/******************** FOOTER ********************/

.footer {
  background-color: #343a40;
  color: #e0dede;
  margin: 5% auto auto;
  padding: 1%;
  text-align: center;
}

/******************** CLASS SELECTORS ********************/

.boxShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-text {
  width: 50%;
  margin-top: 10%;
  text-align: left;
}

.blackLink {
  color: #222;
  text-decoration: underline;
}

a.blackLink:hover {
  color: #AAA;
  text-decoration: underline;
}

.blackLinkNoUnderline {
  color: #222;
  text-decoration: none;
}

a.blackLinkNoUnderline:hover {
  color: #AAA;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.caption {
  text-align: left;
  font-size: 70%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.noBullets {
  list-style-type: none;
}

/* Images */

.responsiveFrame:hover {
  border: 1px solid #777;
}

/******************** HOME PAGE ********************/

/* Intro */

h1.flunsiana {
  text-transform: uppercase;
  color: #fff;
  font-size: 70px;
  font-weight: 400;
  padding-top: 60px;
  line-height: 100px;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  margin: 0 0 8px 0;
  padding: 0;
}

p.flunsiana {
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  text-align: center;
  text-shadow: 2px 2px 5px #000;
  margin: 0 0 16px 0;
  padding: 0;
}

/* Background Image */

body.background-img {
  background-image: url(../images/berge_2.jpeg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
}

/* Container Section */

.title-container {
  margin: 56px auto 20px;
}

.intro-container {
  margin: 56px 0 0;
  padding: 0 0 200px;
}

.welcome-container {
  background-color: #fff;
  padding: 3% 20% 3%;
  text-align: left;
}

.topics-container {
  background-color: #fff;
  padding: 6%;
}

.footer.home-footer {
  margin-top: 0;
}

/* Social Media */

.sm-button {
  margin: 1%;
  color: white;
}

.fa-instagram:hover {
  color: #E1306C;
}

.fa-youtube:hover {
  color: #FF0000;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-facebook-square:hover {
  color: #4267B2;
}

/********************ID SELECTORS********************/